.itemCard {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 30% 30% 40%;
  grid-template-areas: 'title price' 'description description' 'actions actions';
  width: 100%;
  height: 110px;
  padding: 5px 0px 5px 20px;
  margin: 2% 0px;
  background-color: #404258;
  border-left: 20px solid #6b728e;
  border-top: 1px solid #6B728E;
  border-bottom: 1px solid #6B728E;
  border-right: 1px solid #6B728E;
  transition: 0.4s;
}

.infoHeader {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title,
.about,
.price {
  display: flex;
  align-items: center;
}

.title {
  grid-area: title;
  font-weight: 700;
  /* background-color: aquamarine; */
}
.about {
  grid-area: description;
  color: gray;
  /* background-color: rebeccapurple; */
}
.price {
  grid-area: price;
  font-style: italic;
  /* background-color: brown; */
}

.actionsButtons {
  grid-area: actions;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: crimson; */
}

@media screen and (min-width: 900px) {
  .itemCard {
    width: 300px;
    margin: 10px;
  }
}
