.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #50577A;
    margin: 10px 0px;
}

.controlBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 20px;
    background-color: #50577A;
    border-bottom: 3px solid #404258;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}
.infoContent{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.infoContent p{
    padding: 10px;
    margin: 0px 30px;
}
.valueTxt {
    color: #cbd2ef;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 900px) {
    .card {
        width: 80%;
    }
}