.buttonArea {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    /* margin: 10px 0px; */
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #6B728E;
    color: whitesmoke;
    font-size: 1.2em;
    border: 1px solid transparent;
    transition: .2s;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: #404258;
    transition: .2s;
}

.button:active {
    background-color: #6B728E;
    transition: .2s;
}
